<h1>Yelpie Yelp!</h1>

<form (submit) = "sendFetch(input.value, price.value); false;">
  <label>Price</label>

  <select #price> 
    <option value = "$">$</option>
    <option value = "$$">$$</option>
    <option value = "$$$">$$$</option>
    <option value = "$$$$">$$$$</option>
  </select>

  <label>Location</label>
  <input #input />

  <button type = "submit" >Submit</button>
</form>

<div *ngIf = "dinnerDone == true"> 
  <img src = {{dinner.image_url}} /> 
  <ul>
    <li>Rating: {{ratingView}}</li>
    <li>Name: {{dinner.name}}</li>
    <li>Address: {{dinner.location.address1}}</li>
    <li>City: {{dinner.location.city}}</li>
    <li>Phone: {{dinner.phone}}</li>
    <li *ngIf = "transaction == true">Delivery: Yes</li>
  </ul>
</div>

<!-- bring in the image in this div -->

<!-- Using the Yelp API, build an angular application that allows a user to find a random restaurant based on their location and price point. The restaurant that is returned must be opened at the time of the search, if not the user should not see it.

The restaurant details that is shown in the app should be:
image
rating (as stars)
Restaurant name 
Address
phone number 
If it delivers or not
If time add in a google map of the location 
(having axios and backend)

https://www.yelp.com/developers/documentation/v3/get_started -->
